<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(f)" #f="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
            matInput
            type="text"
            name="title"
            #title="ngModel"
            [ngModel]="post?.title"
            required
            minlength="5"
            placeholder="Post Title">
            <mat-error *ngIf="title.invalid && title.touched">Please enter a valid title</mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
          <input type="file" style="visibility: hidden;" #filePicker>
        </div>
        <mat-form-field>
          <textarea
            matInput rows="6"
            name="content"
            [ngModel]="post?.content"
            required
            #content="ngModel"
            minlength="15"
            placeholder="Post Content"></textarea>
            <mat-error *ngIf="content.invalid && content.touched">Please enter a valid content</mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
        >Save Post</button>
  </form>
</mat-card>
